{% load i18n %}

<div class="drawer-header">

    <h3>
        {% trans "Your Cart" %}
        (<span class="drawer-count">{{ cart_count }}</span>)
    </h3>

    <button
        type="button"
        onclick="closeCart()">

        ✕

    </button>

</div>



<div class="drawer-content">

{% for item in cart_items %}

<div class="drawer-item">


    {% if item.product.image %}

    <img
        src="{{ item.product.image.url }}"
        class="drawer-image"
        alt="{{ item.product.name }}">

    {% endif %}



    <div class="drawer-info">


        <h4>

            <a href="{% url 'product_detail' item.product.slug %}">
                {{ item.product.name }}
            </a>

        </h4>



        <p class="drawer-price">

            €{{ item.total_price }}

        </p>



        <div class="drawer-quantity">

            <span>
                {% trans "Quantity" %}
            </span>

            <strong>
                {{ item.quantity }}
            </strong>

        </div>



        <div class="drawer-controls">


            <button
                type="button"
                onclick="changeQty({{ item.product.id }}, 'decrease')">

                −

            </button>



            <button
                type="button"
                onclick="changeQty({{ item.product.id }}, 'increase')"

                {% if item.quantity >= item.product.stock %}
                disabled
                {% endif %}>

                +

            </button>



            <button
                type="button"
                class="drawer-remove"
                onclick="removeItem({{ item.product.id }})">

                ✕

            </button>


        </div>


    </div>


</div>

{% empty %}

<div class="drawer-empty">

    {% trans "Your cart is empty" %}

</div>

{% endfor %}

</div>





<div class="drawer-footer">


    <div class="drawer-total">

        {% trans "Total" %}

        <strong>

            €{{ cart_total }}

        </strong>

    </div>



    <a
        href="{% url 'cart_detail' %}"
        class="drawer-btn">

        {% trans "View Cart" %}

    </a>



    <a
        href="{% url 'checkout' %}"
        class="drawer-btn gold">

        {% trans "Checkout" %}

    </a>


</div>