{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<section class="shop-page">


    <div class="shop-header">

        <h1 class="shop-title">
            {% trans "Shop" %}
        </h1>

        <p class="shop-subtitle">
            Velvet Creature Collection
        </p>

    </div>


    <!-- SEARCH -->

    <form method="get" class="search-box">


        {% if request.GET.category %}

            <input type="hidden"
                   name="category"
                   value="{{ request.GET.category }}">

        {% endif %}



        <input type="text"
               name="search"
               placeholder="{% trans 'Search products...' %}"
               value="{{ search_query|default:'' }}">



        <button type="submit">

            {% trans "Search" %}

        </button>


    </form>




    <!-- CATEGORY FILTER -->

    <div class="category-filter">


        <a href="{% url 'shop' %}"
           class="{% if not request.GET.category %}active{% endif %}">

            {% trans "All" %}

        </a>



        {% for category in categories %}


            <a href="?category={{ category.slug }}"
               class="{% if request.GET.category == category.slug %}active{% endif %}">


                {{ category.name }}


            </a>


        {% endfor %}


    </div>






    <div class="shop-grid">



        {% for product in products %}



        <div class="shop-card">



            <div class="shop-image">



                {% if product.image %}


                    <img src="{{ product.image.url }}"
                         alt="{{ product.name }}">


                {% else %}


                    <div class="no-image">

                        {% trans "No image" %}

                    </div>


                {% endif %}






                {% if product.stock > 0 %}



                    <span class="shop-badge">

                        {% trans "In Stock" %}

                    </span>



                {% else %}



                    <span class="shop-badge sold">

                        {% trans "Sold Out" %}

                    </span>



                {% endif %}



            </div>








            <div class="shop-card-content">



                <h3>

                    {{ product.name }}

                </h3>





                <!-- WISHLIST -->


                <div class="wishlist-area">



                    {% if user.is_authenticated %}



                        <a href="#"
   class="wishlist-btn"
   data-product="{{ product.id }}"
   onclick="toggleWishlist(event, {{ product.id }})"
   title="{% trans 'Wishlist' %}">



    <img src="{% static 'icons/pumpkin.svg' %}"
     id="wishlist-icon-{{ product.id }}"
     class="wishlist-icon {% if product.id in wishlist_products %}active{% endif %}"
     alt="{% trans 'Wishlist' %}">



                        </a>



                    {% else %}



                        <a href="{% url 'login' %}"
                           class="wishlist-btn"
                           title="{% trans 'Wishlist' %}">



                            <img src="{% static 'icons/pumpkin.svg' %}"
                                 class="wishlist-icon"
                                 alt="{% trans 'Wishlist' %}">



                        </a>



                    {% endif %}



                </div>








                <div class="price">


                    €{{ product.price }}


                </div>








                <div class="shop-actions">





                    <a href="{% url 'product_detail' product.slug %}"
                       class="btn">


                        {% trans "View details" %}


                    </a>






                    {% if product.stock > 0 %}



                    <button type="button"
                            class="btn secondary"
                            onclick="addToCart({{ product.id }}); return false;">



                        {% trans "Add to cart" %}



                    </button>



                    {% endif %}




                </div>




            </div>




        </div>




        {% empty %}


            <p>

                {% trans "No products found." %}

            </p>


        {% endfor %}




    </div>



</section>



{% endblock %}