/* =================================
   HERO SECTION
================================= */


.hero {

    min-height:70vh;

    display:flex;

    align-items:center;

    justify-content:center;

    text-align:center;

    padding:120px 20px;

    position:relative;

    overflow:hidden;

    background:
    radial-gradient(
        circle at top,
        #1b1b22,
        #0a0a0f 70%
    );

}



/* GOLD GLOW */

.hero::before {

    content:"";

    position:absolute;

    inset:0;


    background:
    radial-gradient(
        circle at center,
        rgba(212,175,55,.12),
        transparent 60%
    );


    filter:blur(30px);

}



/* CONTENT */


.hero-content {

    max-width:900px;

    position:relative;

    z-index:2;

}



/* TITLE */


.hero h1 {

    font-size:64px;

    color:#d4af37;

    margin-bottom:25px;

    text-shadow:
    0 0 25px rgba(212,175,55,.15);

}



/* DESCRIPTION */


.hero p {

    color:#ddd;

    font-size:20px;

    line-height:1.7;

    max-width:700px;

    margin:auto;

}



/* BUTTON AREA */


.hero-actions {

    margin-top:35px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}



/* =========================
   MOBILE
========================= */


@media(max-width:768px){


    .hero {

        padding:80px 20px;

    }



    .hero h1 {

        font-size:38px;

    }



    .hero p {

        font-size:16px;

    }



    .hero-actions {

        flex-direction:column;

    }


}