/* =====================================
   WISHLIST PAGE
===================================== */


/* =========================
   PAGE
========================= */


.wishlist-page {

    padding:40px 20px 100px;

}



/* =========================
   CARD
========================= */


.wishlist-card {

    position:relative;

    transition:
    transform .3s ease,
    box-shadow .3s ease;

}



.wishlist-card:hover {

    transform:translateY(-6px);

    box-shadow:
    0 15px 40px rgba(0,0,0,.45);

}



.wishlist-card .shop-image img {

    width:100%;

    height:260px;

    object-fit:cover;

}



/* =========================
   EMPTY STATE
========================= */


.empty-wishlist {

    width:100%;

    text-align:center;

    padding:80px 20px;

    color:#aaa;

}



.empty-wishlist h2 {

    font-size:60px;

    margin-bottom:20px;

}



/* =========================
   MOBILE
========================= */


@media(max-width:768px){


.wishlist-page {

    padding:20px 10px 60px;

}



.wishlist-card .shop-image img {

    height:220px;

}


}