{% extends "base.html" %}
{% load i18n %}
<!-- PROFILE FROM APP -->
<p style="color:red;">
LANGUAGE = {{ LANGUAGE_CODE }}
</p>


{% block title %}
{% trans "My Account" %}
{% endblock %}



{% block content %}


<section class="profile-page">



<div class="profile-header">

    <h1>
        {% trans "My Account" %}
    </h1>


    <p>
        {% trans "Welcome back" %}, {{ user.username }}
    </p>

</div>





<div class="profile-grid">



    <!-- ACCOUNT INFO -->


    <div class="profile-card">


        <h2>
            {% trans "Account" %}
        </h2>



        <div class="info-row">

            <span>
                👤 {% trans "Username" %}
            </span>

            <strong>
                {{ user.username }}
            </strong>

        </div>




        <div class="info-row">

            <span>
                ✉ {% trans "Email" %}
            </span>

            <strong>
                {{ user.email }}
            </strong>

        </div>




        <div class="info-row">

            <span>
                📅 {% trans "Member since" %}
            </span>

            <strong>
                {{ user.date_joined|date:"d M Y" }}
            </strong>

        </div>



    </div>






    <!-- CUSTOMER INFORMATION -->


    <div class="profile-card customer-info">


        <h2>
            {% trans "Customer Information" %}
        </h2>




        <div class="info-row">

            <span>
                👤 {% trans "Full name" %}
            </span>


            <strong>

            {% if user.first_name or user.last_name %}

                {{ user.first_name }} {{ user.last_name }}

            {% else %}

                -

            {% endif %}

            </strong>


        </div>





        <div class="info-row">

            <span>
                🌍 {% trans "Country" %}
            </span>


            <strong>
                -
            </strong>


        </div>





        <div class="info-row">

            <span>
                📞 {% trans "Phone" %}
            </span>


            <strong>
                -
            </strong>


        </div>



    </div>




</div>







<!-- ORDERS -->


<div class="profile-orders">


<h2>
    {% trans "My Orders" %}
</h2>





{% if orders %}



{% for order in orders %}



<div class="order-card">


    <div class="order-left">


        <h3>
            📦 {% trans "Order" %} #{{ order.id }}
        </h3>


        <p>
            {% trans "Created" %}:
            {{ order.created|date:"d M Y" }}
        </p>


    </div>




    <div class="order-center">


        <span class="status-badge status-{{ order.status }}">

            {{ order.get_status_display }}

        </span>


    </div>




    <div class="order-right">


        <div class="price">

            €{{ order.total_price }}

        </div>



        <a href="{% url 'order_detail' order.id %}"
   class="btn">

    {% trans "Details" %}

</a>


    </div>



</div>



{% endfor %}





{% else %}



<div class="empty-cart">

{% trans "You have no orders yet." %}

</div>



{% endif %}



</div>
<!-- CUSTOM ORDERS -->


<div class="profile-orders">


<h2>
    {% trans "My Custom Projects" %}
</h2>




{% if custom_orders %}



{% for custom in custom_orders %}




<div class="order-card">



    <div class="order-left">



        <h3>

<a href="{% url 'custom_order_detail' custom.id %}">

🖨 {% trans "Custom Order" %} #{{ custom.id }}

</a>

</h3>




        <p>

            {% trans "Created" %}:
            {{ custom.created|date:"d M Y" }}

        </p>




        <p>

            {% trans "Material" %}:

            <strong>
                {{ custom.material }}
            </strong>

        </p>



    </div>






    <div class="order-center">



        <span class="status-badge status-{{ custom.status }}">

            {{ custom.get_status_display }}

        </span>



    </div>






    <div class="order-right">

    <a href="{% url 'custom_order_detail' custom.id %}"
   class="btn">

    {% trans "Details" %}

</a>



        {% if custom.estimated_price %}



        <div class="price">

            €{{ custom.estimated_price }}

        </div>



        {% else %}



        <div class="muted">

            {% trans "Waiting for quote" %}

        </div>



        {% endif %}



    </div>




</div>





{% endfor %}





{% else %}




<div class="empty-cart">


{% trans "You have no custom projects yet." %}


</div>




{% endif %}





</div>






</section>



{% endblock %}