{% load i18n %}

<nav class="navbar" id="navbar">


    <!-- LOGO -->

    <a href="{% url 'home' %}" class="logo">

        Velvet Creature

    </a>

   <button class="hamburger"
        onclick="toggleMenu()">

    ☰

</button>




    <!-- MENU -->

    <div class="menu" id="mobileMenu">


        <a href="{% url 'home' %}">
            {% trans "Home" %}
        </a>



        <a href="{% url 'shop' %}">
            {% trans "Shop" %}
        </a>



        <a href="{% url 'custom_order_create' %}">
            {% trans "Custom Order" %}
        </a>



        <a href="#">
            {% trans "About" %}
        </a>

    <div class="mobile-language">

<form action="{% url 'set_language' %}"
      method="post">

{% csrf_token %}

<input type="hidden"
       name="next"
       value="{{ request.get_full_path }}">


<select name="language"
        onchange="this.form.submit()">

<option value="en"
{% if LANGUAGE_CODE == "en" %}selected{% endif %}>
🇬🇧 English
</option>


<option value="fr"
{% if LANGUAGE_CODE == "fr" %}selected{% endif %}>
🇫🇷 Français
</option>


<option value="sk"
{% if LANGUAGE_CODE == "sk" %}selected{% endif %}>
🇸🇰 Slovenčina
</option>


</select>

</form>

</div>



    </div>






    <!-- RIGHT SIDE -->

    <div class="navbar-right">





        <!-- CART -->

        <div class="mini-cart">


            <a href="#"
               class="cart-icon"
               onclick="openCart(); return false;">


                🛒


            </a>



            <span class="cart-count">

                {{ cart_count }}

            </span>



        </div>








        <!-- USER -->


        <div class="user-menu">



        {% if user.is_authenticated %}




            <span class="welcome-user">


                👋 {{ user.username }}


            </span>





            <a href="{% url 'profile' %}">


                👤 {% trans "My Account" %}


            </a>







            <a href="{% url 'order_list' %}">


                📦 {% trans "My Orders" %}


            </a>







            <a href="{% url 'wishlist' %}">


                ❤️ {% trans "Wishlist" %}


            </a>








            <a href="{% url 'logout' %}">


                🚪 {% trans "Logout" %}


            </a>






        {% else %}





            <a href="{% url 'login' %}">


                {% trans "Login" %}


            </a>






            <a href="{% url 'register' %}">


                {% trans "Register" %}


            </a>





        {% endif %}





        </div>









        <!-- LANGUAGE -->



        <form action="{% url 'set_language' %}"

              method="post"

              class="lang-switch">



            {% csrf_token %}



            <input type="hidden"

                   name="next"

                   value="{{ request.get_full_path }}">






            <select name="language"

                    onchange="this.form.submit()">





                <option value="en"

                    {% if LANGUAGE_CODE == "en" %}selected{% endif %}>


                    🇬🇧 English


                </option>







                <option value="fr"

                    {% if LANGUAGE_CODE == "fr" %}selected{% endif %}>


                    🇫🇷 Français


                </option>







                <option value="sk"

                    {% if LANGUAGE_CODE == "sk" %}selected{% endif %}>


                    🇸🇰 Slovenčina


                </option>





            </select>





        </form>






    </div>





</nav>