{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "My Wishlist" %}
{% endblock %}


{% block content %}


<section class="wishlist-page">


<div class="shop-header">

<h1 class="shop-title">

🎃 {% trans "My Wishlist" %}

</h1>


<p class="shop-subtitle">

{% trans "Your saved Velvet Creature creations" %}

</p>


</div>




<div class="shop-grid">


{% for item in items %}


<div class="shop-card wishlist-card"
     id="wishlist-card-{{ item.product.id }}">



<div class="shop-image">


{% if item.product.image %}

<img src="{{ item.product.image.url }}"
     alt="{{ item.product.name }}">


{% else %}

<div class="no-image">
{% trans "No image" %}
</div>


{% endif %}


</div>




<div class="shop-card-content">


<h3>
{{ item.product.name }}
</h3>



<div class="price">
€{{ item.product.price }}
</div>





<div class="shop-actions">


<a href="{% url 'product_detail' item.product.slug %}"
class="btn">

{% trans "View Product" %}

</a>



<button
    type="button"
    class="btn secondary"
    onclick="removeWishlistItem({{ item.product.id }})">

    🎃 {% trans "Remove" %}

</button>


<button
type="button"
class="btn primary"
onclick="addToCart({{ item.product.id }})">

🛒 {% trans "Add to cart" %}

</button>



</div>


</div>



</div>



{% empty %}


<div class="empty-wishlist">

<h2>
🎃
</h2>

<p>
{% trans "Your wishlist is empty." %}
</p>

</div>



{% endfor %}



</div>


</section>


{% endblock %}