{% extends "base.html" %}


{% block title %}
Custom Order Sent
{% endblock %}



{% block content %}


<section class="success-page">


    <div class="success-card">


        <div class="success-icon">
            ✓
        </div>



        <h1>

            Thank you for your request

        </h1>



        <p class="success-subtitle">

            Your custom 3D printing project has been received.

        </p>



        <p class="success-text">

            Our team will review your request and contact you
            with more information about price and production time.

        </p>



        <div class="success-actions">


            <a href="{% url 'shop' %}"
               class="btn-primary">

                Back to Collection

            </a>


            <a href="{% url 'home' %}"
               class="btn">

                Home

            </a>


        </div>


    </div>


</section>



{% endblock %}