{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">


    <title>
        {% block title %}
        Velvet Creature
        {% endblock %}
    </title>


    <!-- =========================
         GOOGLE FONTS
    ========================== -->

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap"
          rel="stylesheet">


    <!-- =========================
         CSS
    ========================== -->

    <link rel="stylesheet"
          href="{% static 'css/base.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/buttons.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/navbar.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/hero.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/shop.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/product.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/cart.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/wishlist.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/forms.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/profile.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/footer.css' %}">

    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <link rel="stylesheet"
          href="{% static 'css/responsive.css' %}">

    <!-- FINAL OVERRIDES -->
    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">


</head>



<body>


<div id="toast-message"
     class="toast-message">
</div>



{% include "includes/navbar.html" %}





<main class="container">


    {% block content %}

    {% endblock %}


</main>







<!-- =========================
     CART OVERLAY
========================= -->


<div id="drawer-overlay"
     class="drawer-overlay"
     onclick="closeCart()">
</div>







<!-- =========================
     CART DRAWER
========================= -->


<div id="cart-drawer"
     class="cart-drawer">


    {% include "cart/cart_drawer.html" %}


</div>








<!-- =========================
     JAVASCRIPT
========================= -->


<script>


console.log("VELVET CREATURE SYSTEM LOADED");





// =========================
// OPEN CART
// =========================


window.openCart = function(){


    document
    .getElementById("cart-drawer")
    .classList.add("open");


    document
    .getElementById("drawer-overlay")
    .classList.add("active");


}








// =========================
// CLOSE CART
// =========================


window.closeCart = function(){


    document
    .getElementById("cart-drawer")
    .classList.remove("open");


    document
    .getElementById("drawer-overlay")
    .classList.remove("active");


}








// =========================
// ADD TO CART
// =========================


window.addToCart = function(id){


fetch(`/cart/add/${id}/`)


.then(response => response.json())


.then(data => {


    if(!data.success)
        return;



    updateBadge(data.cart_count);


    refreshDrawer();


    openCart();


});


}








// =========================
// CHANGE QUANTITY
// =========================


window.changeQty = function(id, action){


fetch(`/cart/${action}/${id}/`)


.then(response => response.json())


.then(data => {


    if(!data.success){

        alert(data.message);

        return;

    }


    updateBadge(data.cart_count);


    refreshDrawer();



    if(document.querySelector(".cart-page")){

        location.reload();

    }


});


}








// =========================
// REMOVE ITEM
// =========================


window.removeItem = function(id){


fetch(`/cart/remove/${id}/`)


.then(response => response.json())


.then(data => {


    if(!data.success)
        return;


    updateBadge(data.cart_count);


    refreshDrawer();



    if(document.querySelector(".cart-page")){

        location.reload();

    }


});


}








// =========================
// UPDATE BADGE
// =========================


function updateBadge(count){


document
.querySelectorAll(
    ".cart-count, .drawer-count"
)

.forEach(element => {


    element.innerText = count;


});


}








// =========================
// REFRESH DRAWER
// =========================


function refreshDrawer(){


fetch("/cart/drawer/")


.then(response => response.text())


.then(html => {


document
.getElementById("cart-drawer")
.innerHTML = html;


});


}







// =========================
// MOBILE MENU
// =========================


window.toggleMenu = function(){


document
.getElementById("mobileMenu")
.classList.toggle("open");


}








// =========================
// WISHLIST
// =========================


window.toggleWishlist = function(event, productId){


event.preventDefault();



fetch(
    `/wishlist/toggle/${productId}/`
)



.then(response => response.json())


.then(data => {


    if(!data.success)
        return;



const icon = document.getElementById(
    `wishlist-icon-${productId}`
);



if(icon){


    if(data.added){

        icon.classList.add("active");


        showToast(
            "🎃 Added to Wishlist"
        );


    }
    else{


        icon.classList.remove("active");


        showToast(
            "🎃 Removed from Wishlist"
        );


    }

}



});


}








// =========================
// REMOVE WISHLIST ITEM
// =========================


window.removeWishlistItem = function(productId){


fetch(
    `/wishlist/toggle/${productId}/`
)


.then(response => response.json())


.then(data => {


    if(data.success && !data.added){


        const card = document.getElementById(
            `wishlist-card-${productId}`
        );


        if(card){

            card.remove();

        }


        showToast(
            "🎃 Removed from Wishlist"
        );


    }


});


}








// =========================
// TOAST
// =========================


window.showToast = function(message){


let toast = document.getElementById(
    "toast-message"
);



if(!toast)
    return;



toast.innerHTML = message;


toast.classList.add("show");



setTimeout(()=>{


    toast.classList.remove("show");


},2500);


}



</script>





</body>

</html>